@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before,*::after{
  box-sizing: border-box;
}

body {
  background-color: #0f111a;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Regular.ttf');
}